body {
    margin: 0;
    background-image: url(./images/edcWallPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    color: white;
    font-family: 'Fredoka', sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    background-color: black;
}

#banner {
    text-align: center;
    background-color: black;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: auto;
    border-radius: 20px;
}

h3 {
    padding: 20px 20px;
}

img,
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}